.categoryPage ion-toolbar {

    --border-style: none;
}

.categoryCard {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.productCardActions {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.productCardAction {

    font-size: 1.1rem;
}

.productCardHeader {

    min-height: 17rem;
    align-items: center;
    
}

.productCardHeader p {

    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    margin-top: 0.75rem;
}

.categoryCardContent {

    display: flex;
    flex-direction: column;
    text-align: center;
}

.categoryCardContent ion-button {

    font-size: 0.8rem;
}

.categoryCardContent p {

    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.productPrice {

    display: flex;
    flex-direction: row;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--ion-color-primary); /* Color del scrollbar */
    border-radius: 4px; /* Borde del scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: var(--ion-color-light); /* Color de fondo del scrollbar */
  }

  .productImage {
    max-width: 500px;
    max-height: 500px;
   
    object-fit: cover; /* Controla cómo la imagen se ajusta a su contenedor manteniendo las dimensiones y recortando si es necesario */
}
  .productDescription {
    max-height: 100px; /* o cualquier otra altura máxima deseada */
    overflow-y: auto; /* Añade barras de desplazamiento vertical si el contenido excede la altura máxima */
}